.container {
  min-height: calc(100vh - 276px);
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 40px;
  padding-bottom: 40px;
}

.cards {
  height: 100%;
  margin: 0 auto;
  display: grid;
  gap: 3rem 1.2rem;
  grid-template-columns: repeat(5, 1fr);
}

.loadMore {
  display: flex;
  justify-content: center;
  padding: 16px 0px;
}

.noMatchData {
  font-size: 24px;
  text-align: center;
}

.error {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .container {
    padding-right: 60px;
    padding-left: 60px;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
